.input-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
    padding: 0 1rem;
    background-color: #d1ccfdfc;
    width:100%;
    box-sizing: border-box;
}

.input-wrapper input {
    width: 100%;
}